/* Checkmark style starts */

@-moz-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 2px/2; }
}

@-webkit-keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 2px/2; }
}

@keyframes dothabottomcheck{
    0% { height: 0; }
    100% { height: 2px/2;  }
}

@keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 2px * 1.2; }
}
@-webkit-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 2px * 1.2; }
}
@-moz-keyframes dothatopcheck{
    0% { height: 0; }
    50% { height: 0; }
    100% { height: 2px * 1.2; }
}

input[type=checkbox]{
    display:none;
}

.check-box {
    height: 2px;
    width: 2px;
    background-color: transparent;
    border: 2px * .1 solid green;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 2/2;
    -o-transition: border-color ease 2/2;
    -webkit-transition: border-color ease 2/2;
    transition: border-color ease 2/2;
    cursor:pointer;

    &::before, &::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: 2px * .2;
        background-color: bleu;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease .5;
        -moz-transition: opacity ease .5;
        transition: opacity ease .5;
    }

    &::before {
        top:2px * .72;
        left: 2px * .41;
        box-shadow: 0 0 0 2px * .05 #fff;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    &::after {
        top: 2px * .37;
        left: 2px * .05;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

input[type=checkbox]:checked + .check-box,
.check-box.checked{
    border-color:bleu;

    &::after{
        height: 2px * .5;
        -moz-animation: dothabottomcheck 2/2 ease 0s forwards;
        -o-animation: dothabottomcheck 2/2 ease 0s forwards;
        -webkit-animation: dothabottomcheck 2/2 ease 0s forwards;
        animation: dothabottomcheck 2/2 ease 0s forwards;
    }

    &::before{
        height: 2px * 1.2;
        -moz-animation: dothatopcheck 2 ease 0s forwards;
        -o-animation: dothatopcheck 2 ease 0s forwards;
        -webkit-animation: dothatopcheck 2 ease 0s forwards;
        animation: dothatopcheck 2 ease 0s forwards;
    }
}
